<div class="card card-solid" style="height: 80vh;">
    <div class="card-body pb-0" style="overflow-y: auto;">
        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        Senior SE
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="lead"><b>Luis Alberto Ramirez</b></h2>
                                <p class="text-muted text-sm"><b>Matricula: </b> 20170083 </p>
                                
                            </div>
                            <div class="col-5 text-center">
                                <img src="\AdminLTE\dist\img\LUIS.png" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        Senior SE
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="lead"><b>Humberto Hernandez Garcia</b></h2>
                                <p class="text-muted text-sm"><b>Matricula: </b> 20170014 </p>

                            </div>
                            <div class="col-5 text-center">
                                <img src="\AdminLTE\dist\img\Humberto.png" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        UX Designer
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="lead"><b>Javier Mota Ontiveiros</b></h2>
                                <p class="text-muted text-sm"><b>Matricula: </b> 20170089 </p>

                            </div>
                            <div class="col-5 text-center">
                                <img src="\AdminLTE\dist\img\Javis.png" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        Software Arquitect
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="lead"><b>Ricardo Julio Garcia</b></h2>
                                <p class="text-muted text-sm"><b>Matricula: </b> 20170096 </p>

                            </div>
                            <div class="col-5 text-center">
                                <img src="\AdminLTE\dist\img\Richi.png" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        Junior SE
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="lead"><b>America Sarahi Gomez Dimas</b></h2>
                                <p class="text-muted text-sm"><b>Matricula: </b>  </p>

                            </div>
                            <div class="col-5 text-center">
                                <img src="\AdminLTE\dist\img\America.png" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
