<div class="container" style="height: 80vh; display: flex;">
    <div class="card card-dark" style="width: 100%; margin-top:10">
        <div class="card-header">
            <h3 class="card-title">Bienvenido a nuestro Proyecto</h3>
            
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
            <img src="\AdminLTE\dist\img\UTTcompletoverticalRGB.png" alt="Alternate Text" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
        </div>

    </div>
</div>
</>
@section Scripts
{
	<script src="~/AdminLTE/dist/js/pages/dashboard3.js"></script>
}